# Python
.venv/
__pycache__/
*.pyc

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# ML models
ml/models/*
!ml/models/.gitkeep

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
